DB_URI: postgresql+asyncpg://<USER>:<PASS>@<HOST>:<PORT>/<DB>
MIGRATION_DB_URI: postgresql://<USER>:<PASS>@<HOST>:<PORT>/<DB>
HOST: localhost
PORT: 8000
CORS_ORIGINS: ["http://localhost:3000"]

# JWT
JWT_SECRET: "<your-secret-key>"
JWT_ALGORITHM: "HS256"
JWT_EXP_MIN: 60
